<div class="container">
  <div class="row">
    <div class="main-content wide">
      <div class="pane">
        <h2>
          Drycker
          <% if user_signed_in_and_admin? %>
            <%= link_to 'Lägg till ny', new_drink_path %>
          <% end %>
        </h2>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Namn</th>
              <th>Bryggeri</th>
              <th>Land</th>
              <th>Procentsats</th>
              <th>Pris</th>
              <th>Typ av dryck</th>
              <th>Beskrivning</th>
              <th>I lager</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody ng-controller="AdminDrinksCtrl">
            <tr ng-repeat="drink in drinks">
              <td>{{ drink.name }}</td>
              <td>{{ drink.brewery }}</td>
              <td>{{ drink.country }}</td>
              <td>{{ drink.percentage }}</td>
              <td>{{ drink.price }}</td>
              <td>{{ drink.drink_type }}</td>
              <td>{{ drink.description }}</td>
              <td><input type="checkbox" ng-checked="drink.instock"></td>
              <td><a ng-href="{{ drink.show_url }}">Show</a></td>
              <% if user_signed_in_and_admin? %>
                <td><a ng-href="{{ drink.edit_drink_url }}">Edit</a></td>
              <% end %>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
