<div class="container" ng-app="calendar">
  <div class="row">
    <div class="text-right">
      <%= link_to 'New Booking', new_booking_path %>
    </div>
  </div>
  <div id="calendar" class="row" ng-controller="calendarController">
  <div class="row text-center">
    <button class="button" ng-click="changeMonth(-1)">bakåt</button>
    <h2>{{ month.format("MMMM") }}</h2>
    <button class="button" ng-click="changeMonth(1)">framåt</button>
  </div>
    <div ng-class="day.day == 1 ? 'offset-{{day.weekday}}' : 'weekday'" ng-repeat="day in days">
      <h3>{{ day.day }}</h3>
      <h1 ng-if="day.confirmed">BAJS</h1>
    </div>
  </div>
</div>
