<div class="container" ng-app="calendar">
  <div id="calendar" class="row" ng-controller="calendarController">
    <div class="calendarbar">
      <div class="pane">
        <div class="controls">
          <a class="calendar-tool" ng-click="changeMonth(-1)">
            <%= icon 'arrow-left', '', class: 'fa-2x' %>
          </a>
          <h2>{{ month.format("MMMM") }}</h2>
          <a class="calendar-tool" ng-click="changeMonth(1)">
            <%= icon 'arrow-right', '', class: 'fa-2x' %>
          </a>
        </div>
      </div>
      <div class="new-booking">
        <%= link_to 'Ny bokning', new_booking_path %>
      </div>
    </div>
    <div ng-class="day.day == 1 ? 'offset-{{day.weekday}}' : 'weekday'" ng-repeat="day in days">
      <h3>{{ day.day }}</h3>
      <h3 ng-if="day.confirmed && !day.public">Bokat</h3>
      <h3 ng-if="day.confirmed && day.public">Pub</h3>
    </div>
  </div>
</div>
