<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hej!</h3>

    <p>
      Vi har mottagit din bokningsförfrågan för @booking.date.
    </p>

    <p>
      Om ni har några funderingar kommer vi att höra av oss, och om du har några är det bara att slänga iväg ett mail till oss.
    </p>

    <p>
      Mvh,
      Vattentornets boråd
    </p>
  </body>
</html>
