<%= render 'header' %>
  <h2 style="color: #f07060;margin-top: -5px;width: 100%;">Hej!</h2>

  <p style="width: 100%;">
    Vi har bekräftat din bokningsförfrågan för <%= @booking.date %>.
  </p>

  <p style="width: 100%;">
    Om ni har några extra funderingar hör bara av er med ett mail eller liknande!
  </p>

  <p style="width: 100%;">
    Mvh,
    Vattentornets boråd
  </p>
<%= render 'footer' %>
