<%= render 'header' %>
  <h2 style="color: #f07060;margin-top: -5px;width: 100%;">Hej!</h2>

  <p style="width: 100%;">
    Vi har mottagit din bokningsförfrågan för <%= @booking.date %>.
  </p>

  <p style="width: 100%;">
    Om ni har några funderingar kommer vi att höra av oss, och om du har några är det bara att slänga iväg ett mail till oss.
  </p>

  <p style="width: 100%;">
    Mvh,
    Vattentornets boråd
  </p>
<%= render 'header' %>
