<h2>
  Dokument
  <% if user_signed_in_and_admin? %>
    <small>
      Admin:
      <%= link_to "Ladda upp nytt", new_document_path %>
    </small>
  <% end %>
</h2>
<% @documents.each do |document| %>
  <h4>
    <%= link_to document.name, attachment_url(document, :document, format: 'pdf'), target: '_blank' %>
    <% if user_signed_in_and_admin? %>
      <small>
        <%= link_to(document, method: :delete, data: { confirm: 'Är du säker på att du vill ta bort detta dokument?' }) do %>
          <i class="fa fa-trash"></i>
        <%end%>
      </small>
    <%end%>
    <small>
      <%= document.description %>
    </small>
  </h4>
<% end %>
