/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-custom";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url('/images/background.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
}

#main-header {
  background-size: cover;
  background-position: top center;
  height: 300px;
  padding: 50px 0;

  body.winter & {
    background-image: url('/images/winter.jpg');
  }

  .logo {
    @include make-sm-column(4);

    @media screen and (max-width: $screen-xs-max) {
      text-align: center;

      img {
        display: inline;
      }
    }
  }
}

#main-footer {
  @extend .container;

  .copyright {
    @include make-sm-column(3);
  }
}
