/*
 * Pub Vattentornet!
 * Made by Klas Eskilson, Daniel Rönnkvist, Carl Englund
 *
 *= require font-awesome
 *= require_self
 */

@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";

@import "fonts";
@import "pages";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
}

body {
  background-image: url('/images/background.jpg');
  background-repeat: repeat-x;
  padding-top: 40px;
}

#main-header {
  position: fixed;
  width: 100%;

  &.transparent {
    background: transparent;
  }

  &.transparent .menu-logo {
    opacity: 0;
  }

  #main-nav {
    @include make-row();

    .menu-left {
      @include make-xs-column(5);
      text-align: right;
    }
    .menu-logo {
      @include make-xs-column(2);
    }
    .menu-right {
      @include make-xs-column(5);
    }
  }
}

#main-footer {
  margin-top: $section-margins;
  padding: 20px 15px;
  background: #111;
  color: $gray-lighter;

  .copyright {
    @include make-sm-column(3);
  }
  .links {
    @include make-sm-column(3);
    @include make-sm-column-offset(6);
  }
}

.container {
  max-width: 978px;
}



.main-content {
  @include make-sm-column(9);
}

.sidebar {
  @include make-sm-column(3);

  .pane {
    background: #111;
    color: $beige;
    padding: 15px;
    margin-bottom: 3px;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

// misc
.beige-color {
  color: $beige;
}
.unica-one {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
}
.fat {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  letter-spacing: .1em;
}
