/*
 * Pub Vattentornet!
 * Made by Klas Eskilson, Daniel Rönnkvist, Carl Englund
 * With inspiration from Finest Kind IPA, Hercules and lots of other tasty beers.
 *
 *= require font-awesome
 *= require_self
 */

@import "variables";

@import "bourbon";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";
@import "fonts";

@import "static_pages";
@import "drinks";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
}

body {
  background-image: url('/images/background.jpg');
  background-repeat: repeat-x;
  padding-top: 80px;
}

.pane {
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

#main-header {
  @include transition(all .3s ease-in-out);
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(#111, .8);
  z-index: 1;

  .static_pages.home &.transparent:not(.expanded) {
    background: transparent;

    .menu-logo img {
      opacity: 0;
    }
  }

  .menu-logo img {
    max-height: 40px;
    margin: 10px 0;
    @include transition(opacity .3s linear);
  }

  #main-nav {
    @include make-row();

    a {
      display: inline-block;
      color: white;
      font-size: 1.2em;
      font-family: $font-family-serif;
      text-transform: uppercase;
      letter-spacing: .1em;
      line-height: 60px;
      margin: 0 20px;
      @extend .clearfix;
      @include transition(all .2s linear)
    }
    a:not(.logo) {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }

    .menu-logo {
      @include make-sm-column(2);
      @include make-sm-column-push(5);
    }
    .menu-toggle {
      float: right;
      background: transparent;
      border: 0;
      color: #fff;
      margin-top: 15px;
    }
    .menu-toggle:focus {
      outline: 0;
    }
    .menu-left {
      @include make-sm-column(5);
      @include make-sm-column-pull(2);
      max-height: 0;
    }
    .menu-right {
      @include make-sm-column(5);
      max-height: 0;
    }
  }
}
#main-header.expanded #main-nav {
  a, .menu-left, .menu-right {
    max-height: 200px;
    opacity: 1;
  }
}

@media (min-width: $screen-sm-min) {
  #main-header #main-nav {
    .menu-toggle {
      display: none;
    }
    .menu-left {
      text-align: right;
      max-height: 200px;
    }
    .menu-right {
      max-height: 200px;
    }
    .menu-logo {
      text-align: center;
    }
    a:not(.logo) {
      max-height: 100px;
      opacity: 1;
      clear: none;
    }
  }
}

#main-footer {
  margin-top: $section-margins;
  padding: 20px 15px;
  background: #111;
  color: $gray-lighter;

  .copyright {
    @include make-sm-column(3);
  }
  .links {
    @include make-sm-column(3);
    @include make-sm-column-offset(6);
  }
}

.container {
  max-width: 978px;
}

.main-content {
  .pane {
    background: $beige;
    color: #111;
    padding: $section-margins;
    margin-bottom: $section-margins;

    @media (max-width: $screen-sm-min) {
      padding: 15px;
    }
  }

  &:not(.wide) {
    @include make-sm-column(9);
  }
  &.wide {
    @include make-sm-column(12);
  }
}

.sidebar {
  @include make-sm-column(3);

  .pane {
    background: #111;
    color: $beige;
    padding: 15px;
    margin-bottom: 3px;
  }
}

// form stuff
.main-form, .sidebar-form {
  input[type="text"], input[type="submit"], input[type="number"], textarea, select {
    @extend .form-control;
  }

  .row {
    margin-bottom: $section-margins/2;
  }
}

// misc
.beige-color {
  color: $beige;
}
.unica-one {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
}
.fat {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .1em;
  text-align: center;

  &.text-left {
    text-align: left;
  }
  &.text-right {
    text-align: right;
  }
}
