// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$class-slug: offset !default;
$day: 100%/7;
.weekday
{
  height: 100px;
  width: $day;
  float: left;
  background-color: $beige;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  @extend .text-center;
}
@for $i from 0 through 6
{
  .#{$class-slug}-#{$i}
  {
    margin-left: $day*($i);
    @extend .weekday;
  }
}
.calendarbar
{
  @include make-row();
  margin-top: $section-margins;
  color: $beige;
  .pane
  {
    @extend .col-sm-6, .col-sm-offset-3, .text-center;
    .controls
    {
      @include make-row();
      h2
      {
        @extend .col-xs-4;
        margin-top: 0px;
      }
      .calendar-tool
      {
        // @extend .glyphicon;
        cursor: pointer;
        float: left;
        &:nth-child(1)
        {
          @extend .col-xs-4;
        }
        &:nth-child(3)
        {
          @extend .col-xs-4;
          float: right;
        }
      }
    }
  }
  .new-booking
  {
    @extend .col-sm-3,.text-right;
  }
}

.booking-new
{
  h1
  {
    color: white;
  }
  form
  {
    @extend .container;
    background-color: $beige;
  }
}

.admin-bookings
{
  @include make-row();
  margin-top: 20px;
  background-color: $beige;
}
