// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$class-slug: offset !default;
$day: 100%/7;
.weekday
{
  height: 100px;
  width: $day;
  float: left;
  background-color: $beige;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  @extend .text-center;
}
@for $i from 0 through 6
{
  .#{$class-slug}-#{$i}
  {
    margin-left: $day*($i);
    @extend .weekday;
  }
}
.calendar-logo
{
  @extend .img-responsive;
  max-height: 109px;
  margin: 0 auto;
  margin-top: -18%;
  padding: 10px;
  -webkit-filter: invert(100%);
}
.calendar-headline
{
  color: $beige;
  float: left;
}
.calendar-tool
{
  @extend .btn, .btn-default, .glyphicon;
  float: left;
  &:nth-child(1)
  {
    @extend .glyphicon-chevron-left;
  }
  &:nth-child(3)
  {
    @extend .glyphicon-chevron-right;
  }
}
