#big-img {
  // TODO make this responsive
  height: 600px;
  height: calc(100% - 100px);
  min-height: 320px;
  text-align: center;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  padding: 10px;
  margin-bottom: $section-margins;

  @for $i from 0 through 5 {
    &.background-#{$i} {
      background-image: url('/images/home-#{$i}.jpg');
    }
  }

  img {
    @include vertical-align;
    width: 300px;
    max-width: 100%;
  }
}

body.static_pages.home {
  background-position: 0 320px;
  padding-top: 0;
}

.static_pages .infobar {
  @include make-row;
  margin-bottom: $section-margins;

  .card {
    @include make-sm-column(4);

    .pane {
      padding: 15px;
    }

    &:nth-of-type(1) .pane {
      color: #111;
      background: $red;

      a {
        color: #111;
      }
    }
    &:nth-of-type(2) .pane {
      color: $beige;
      background: #111;
    }
    &:nth-of-type(3) .pane {
      color: #111;
      background: $beige;
    }
  }
}

.main-content iframe.pane {
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

.no-link
{
  color: $beige;
  &:hover
  {
    color: $beige;
  }
  &:active
  {
    color: $beige;
  }
}
