<div class="container" ng-controller="DrinksCtrl">
  <div class="row">
    <div class="main-content">
      <div class="pane">
        <h1>
          Vårt sortiment
          <% if user_signed_in_and_admin? %>
            <small>
              Admin:
              <%= link_to "Drycker", drinks_path %>
            </small>
          <% end %>
        </h1>
        <p>
          På Pub Vattentornet har vi som mål att servera det bästa utav samtliga
          drycker. Oavsett om du är på jakt efter en ale, lager, whisky eller vin
          är vårt mål att du ska hitta en ny favorit hos oss varje gång. Nedan finner
          du allt vi har inne för tillfället.
        </p>
        <p>Sortimentet uppdaterades senast {{last_updated}}.</p>
      </div>

      <div class="pane">
        <div class="row">
          <div class="col-sm-6">
            <h2>I lager</h2>
          </div>
          <div class="col-sm-6">
            <input type="text" ng-model="drinksSearch" placeholder="Sök bland drycker i lager...">
          </div>
        </div>
        <p ng-hide="message == ''">
          {{message}}
        </p>
        <div ng-repeat="drink_type in drink_types | orderBy: name" class="drinks-list-item">
          <h3 ng-show="drinksSearch == ''">
            {{drink_type.name}}, {{drink_type.drinks.length}} st. inne
            <small>
              <a href="{{drink_type.url}}">Visa alla</a>
              <% if user_signed_in_and_admin? %>
                <a href="{{drink_type.admin_url}}">Redigera</a>
              <% end %>
            </small>
          </h3>
          <p ng-hide="drink_type.description == '' || drinksSearch !== ''">
            {{drink_type.description}}
          </p>

          <h4 ng-repeat="drink in drink_type.drinks | filter: drinksSearch">
            <span>
               <i class="fa {{drink.drank ? 'fa-star' : 'fa-star-o'}}" title="{{drink.drank ? 'Du har druckit denna sort' : 'Du har inte provat denna än!'}}"></i>
            </span>
            <a href="{{drink.url}}" title="Läs mer om drycken">{{drink.name}}</a>
            <span ng-hide="drink.brewery == ''">{{drink.brewery}}</span>
            <small>
              <span ng-hide="drinksSearch == ''">
                {{drink_type.name}},
              </span>
              {{drink.country}}, {{drink.price}} kr
            </small>
          </h4>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>
