<header id="main-header">
  <div class="container">
    <div class="row">
      <div class="logo">
        <%= link_to image_tag("http://placekitten.com/g/300/200", alt: 'Pub Vattentornet', class: 'img-responsive'), root_url %>
      </div>
    </div>
  </div>
</header>
