<header id="main-header" class="transparent">
  <div class="container">
    <nav id="main-nav" role="navigation">
      <div class="menu-left">
        <a href="">Meny</a>
        <a href="">Meny</a>
      </div>
      <div class="menu-logo">
        <%= image_tag("/images/logo.png", alt: 'Pub Vattentornet') %>
      </div>
      <div class="menu-right">
        <a href="">Meny</a>
        <a href="">Meny</a>
      </div>
    </nav>
  </div>
</header>
