<h3>Hur får jag det att se fint ut?</h3>
<p>
  Här på Vattentornet används något som kallas Markdown. Det är ett sätt att
  via enkel kod få saker och ting fina. Här nedan kommer lite exempel på de
  vanligaste kod-snuttarna.
</p>
<p>
  <a href="http://daringfireball.net/projects/markdown/syntax">Här</a> kan du läsa
  mer om Markdown, och <a href="https://help.github.com/articles/github-flavored-markdown">här</a>
  kan du läsa mer om den typ av Markdown ("Github flavored") som används här.
</p>
<h4>Vanliga snuttar</h4>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <td>Vad</td>
        <td>Kod</td>
        <td>Resultat</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Fetstilt
        </td>
        <td>
          <code>lite **fetstilt** text</code>
        </td>
        <td>
          lite <strong>fetstilt</strong> text
        </td>
      </tr>
      <tr>
        <td>
          Kursiv
        </td>
        <td>
          <code>lite *kursiv* text</code>
        </td>
        <td>
          lite <em>kursiv</em> text
        </td>
      </tr>
      <tr>
        <td>
          Länk
        </td>
        <td>
          <code>en [länktext](http://google.se) och en [maillänk](mailto:pub@vattentor.net) va!</code>
        </td>
        <td>
          en <a href="http://google.se">länktext</a> och en <a href="mailto:pub@vattentor.net">maillänk</a> va!
        </td>
      </tr>
      <tr>
        <td>
          Bilder
        </td>
        <td>
          <code>här är en bild ![Bildtext här](http://i.imgur.com/hU1qGjIs.jpg) va!</code>
        </td>
        <td>
          här är en bild <img src="http://i.imgur.com/hU1qGjIs.jpg" alt="Bildtext här"> va!
        </td>
      </tr>
      <tr>
        <td>
          Rubriker
        </td>
        <td>
          <pre># Haha
## Hoho
### Hihi
#### Huhu
##### Bärsdags</pre>
        </td>
        <td>
          <h1>Haha</h1>
          <h2>Hoho</h2>
          <h3>Hihi</h3>
          <h4>Huhu</h4>
          <h5>Bärsdags</h5>
        </td>
      </tr>
    </tbody>
  </table>
</div>
