<div class="pane">
  <h4 class="fat">
    Öppetider
  </h4>
  <p>
    Torsdag och fredag
    <span class="pull-right">
      19-01
    </span>
  </p>
  <p>
    Övrigt
    <span class="pull-right">Stängt</span>
  </p>
</div>
<div class="pane">
  <h4 class="fat">
    Boka puben
  </h4>
  <p>
    Visste du att du kan boka puben?
  </p>
</div>
